<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!-- heading bg -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">

  <!-- Brand First Heading -->
<a class="navbar-brand" href="#">Employee Management System</a>

 <!-- Toggler/collapsibe Button
The navigation bar items are collapsed into a hidden menu.
The toggler button (often shown as three horizontal lines, also known as a "hamburger icon") appears.
When the toggler button is clicked, it expands to show the navigation links in a vertical dropdown format. -->
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
 <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/getEmployees}">Employee Management</a>
      </li>
      
    </ul>
  </div>
</nav>
<br>
<br>
<div class = "container">
<div class="row">
<h1>List Employees</h1>
</div>
<div class="row">
<div class="col-lg-3"></div>
<a th:href="@{/Employee/new}"class ="btn btn-primary btn-sm mb-3">Add Employee</a>
</div>
<table class="table table-striped table bordered">
<thead class="table-dark">
<tr>
<th>Employee id</th>
<th>Employee First Name </th>
<th>Employee Last Name </th>
<th>Employee Email </th>
<th>Employee Mobile </th>
<th>Employee Salary </th>
<th>Employee Designation </th>
<th>Employee Reports to</th>


<th>Actions</th>
</tr>
</thead>
<tbody>
<tr th:each = "employee: ${employees}">
<td th:text="${employee.empid}"></td>
<td th:text="${employee.fname}"></td>
<td th:text="${employee.lname}"></td>
<td th:text="${employee.email}"></td>
<td th:text="${employee.mobile}"></td>
<td th:text="${employee.salary}"></td>
<td th:text="${employee.designation}"></td>
<td th:text="${employee.reportsto}"></td>
<td>
<a th:href="@{/getEmployees/edit/{id}(id=${employee.empid})}" class="btn btn-primary">Update</a>
<a th:href="@{/getEmployees/delete/{id}(id=${employee.empid})}" class="btn btn-danger">Delete</a>

</td>

</tr>
</tbody>
</table>
</div>
</body>
</html>


</body>
</html>
